@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu&display=swap');
*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/*For Smartphone*/
@media (min-width:300px){

    h2{
        text-align:left;
        margin-left:3%;
        color:steelblue;
    }
    
    .my_hr {
        width:92%;
        margin-left:1.5%;
        border: 1.5px solid rgb(50, 120, 177);
    }

    .about{
        padding:3%;
    }
    
    .accordion-body{
        padding:0 !important;
    }

    #testing_skill{
        padding:3%;
    }

    .experience{
        padding:3%;
    }

    .experience div{
        margin-top:2%;
        border: 1px solid lightsteelblue;
        padding:3%;
    }

    .experience ul {
        padding-left:5%;
    }

    .education {
        margin-top:3%;
    }
    .education article{
        padding:3%;
    }

    .tamwood{
        background-image: url('/img/tamwood.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:left;
        height:18vh;
        border:1px solid red;
    }

    .koreatech{
        background-image: url('/img/koreatech.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:left;
        height:18vh;
        border:1px solid red;
    }

    .accordion
    {
        width:92%;
        margin-left:3%;
    }

    .accordion h2{
        margin-left:0;
    }

    .contact-form{
        padding:3%;
    }

    .contact-form label{
        margin-left:3%;
    }


    .contact-form input, select, textarea{
        width:90%;
        margin-left:3% !important;
        margin-top:1%;
        margin-bottom:1%;

    }


    footer{
        background-color:gray;
        color:whitesmoke;
        padding:1.5%;
        text-align:center;
        font-weight: bold;
        
    }

    footer .my_info{
        margin-top:2%;
        margin-left:8%;
        font-weight:lighter;
        color:black;
        text-align:left;
    
    }

    footer .footer_ul{
        list-style: none;
        padding-left:0;
    }


}

/*For Tablet*/
@media (min-width:700px){

    .contact-form{
        padding:1%;
        margin-left:5%;
        flex-direction: column;
        display:flex;
        width:90%;
    }

    .contact-form label{
        font-size:20px;
        width:15%;
    }

    .contact-form input, select{
        height:3vh;
        width:65%;
        margin:2% 0 2% 0;
    }

    .contact-form textarea{
        margin-top:1%;
        width:84%;
    }


    footer .my_info{
        text-align: center;
    }

    footer .footer_ul{
        text-align: center;
        padding:0;
    }


}


/*For Desktop*/
@media (min-width:1000px){


}


/*For Higher version*/
@media (min-width:1200px){


}

